/* 
    Document   : ForIEMission
    Created on : Jan 15, 2012, 3:39:30 PM
    Author     : Julian/Yi Wei
    Description:
        This file is soley for adding compatibility for IE. 
*/

#footer{
    margin-top: 50px;
}
