/* 
    Document   : loginFailForIE
    Created on : Jan 15, 2012, 4:45:55 PM
    Author     : Julian / Yi Wei
    Description:
          This file is soley for adding compatibility for IE. 
*/

#home{
    position: relative;
    margin:0px;
    margin-top: 40px;
}
#footer{
    margin:0px;
    font-family: Arial;
}
