/* 
    Document   : loginForIE
    Created on : Jan 15, 2012, 4:08:13 PM
    Author     : Julian/Yi Wei
    Description:
          This file is soley for adding compatibility for IE. 
*/

#footer{
    margin-top: 20px;
}
img{
    border:none;
}
#home{
    margin:0px;
    position: relative;
    margin-top: -20px;;
}
#login{
    height: 450px;
    width: 500px;
}