/* 
    Document   : popUp.CSS
    Created on : Jan 15, 2012, 4:08:13 PM
    Author     : Julian/Yi Wei
    Description:
          For portofilio page used for pop up
*/
#popupContent {
    display:none;
    height:300px;
    width:700px;
    border:2px solid #cecece;
    font-size:13px;
    position: absolute;
    padding:15px;
    background-color:#FFF;
    z-index:1000;
    margin:180px 170px;
}
#bodycolor {
    background-color: white;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 100;
    height: 100%;
    width: 100%;
    z-index:100;
    display:none;
}
.yesButton{
    font-size:25px;
    background: #008000;
    width:188px;
    padding:10px;
    float: left;
    margin-left:75px;
    text-align: center;
    color:white;
    text-decoration:none;
    margin-top:25px;
}
.yesButton:hover{
    background: #8abd1c;
}
.noButton{
    font-size:25px;
    background: #ab3424;
    width:188px;
    padding:10px;
    float:left;
    margin-left: 100px;
    text-align: center;
    color:white;
    text-decoration:none;
    margin-top:25px;
}
.noButton:hover{
    background: #f26868;
}
.askforsendemail{
    font-size:18px;
    color:#444;
    margin-top:-40px;
    width:680px;
    display: block;
}