/* 
    Document   : popUpForIE
    Created on : Apr 12, 2012, 1:29:24 PM
    Author     : ZHONG YIWEI
    Description:
        Purpose of the stylesheet follows.
*/
#bodycolor {
    background-color: white;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    position: absolute;
    height:2560px;
    width:2560px;
    margin-left: 0px;
    z-index:100;
    display:none;
}
#popupContent {
    display:none;
    height:300px;
    width:700px;
    border:2px solid #cecece;
    font-size:13px;
    position: absolute;
    padding:15px;
    background-color:#FFF;
    z-index:1000;
    margin:-500px -850px;
}
